header {
    position: static;
    z-index: 1;
    width: 100%;
    background-color: rgb(193, 188, 188);
}
.Navbar{
    /* background-color: #E2E2E2; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 20px;
}

.t-1{
    align-items: center;

}

.opacity {
    background-color: rgb(193, 188, 188);
}

.color-stor {
    color:  rgb(56, 55, 55);
}

.color-stor:hover {
    color:  rgb(12, 12, 12);
}

.colorSS{
    color: rgb(56, 55, 55);
    font-weight: bold;
}

.colorSS:hover{
    color: rgb(12, 12, 12);
    font-weight: bold;
}

.color-toggle {
    color: gray;
}

.img-Logo{
    height: 40px;
    width: auto;
    margin: 10px;
    align-items: center;
}

.btn{
    background-color: #dfe9ff8c;
    border: none;
    border-radius: 20px;
    margin: 5px;
}

.btn:hover {
    background-color: #6f7072;
    color: rgba(0, 0, 0, 0.808);
}



@media screen and (max-width:990px) {
    .img-Logo{
        display: none;
    }
    .opacity {
        opacity: 1;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        width: 100%;
        z-index: 3;
    }
}
.color-toggle {
    color: gray;
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.801);
}